#menuPrincipal{
    /*    background-image: url('../..//img/blue.jpg');*/
    height: 1px;
    margin-top: 50px;
    position: relative;
    top: 10px;
    font-size: 13px;
}

#top {
    position: relative;
    background-image: url('../..//img/nuevo.png');
    background-repeat: no-repeat;
    background-size: 7%;
    background-color:#ffffff;
    border-radius: 8px;
    color: #1D60A4;
    padding: 10px;
    margin: 20px 0px 80px 0px;

}

#bottom {
    position: relative;
    height: 30px;
    border-radius: 13px;
    text-align: center;
    font-size: 15.5px;
    font-weight: bold;
    background-color: #DBDBDB;
    color: #000033;
    padding: 25px;
    margin: 10px 0px 0px 0px;
    margin-top: 10px;
}

#left {
    float: left;
    /*    background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    /*    background-color: #ece3a5;*/
    padding: 5px;
    width: 150px;
}

.center_content {
    font-size: 9px;
    position: relative;
    background-color: #1D60A4;
    border-radius: 8px;
    padding: 15px;
}

.left_content {
    background-color: #036FAB;
    padding: 5px;
    margin-left: 170px;
    color: #ffffff;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    background-color: #C6FA04;
    color: #000033;
    font-weight : bold;
    text-decoration : none;
}

#sessionUsuario{
    color: #036FAB;
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    right: 15px;
}

